h1 {
    font-size: 24pt;
}

.content {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 100px;
    max-width: 80px;
    position: fixed;
    right: 0;
    top: 130px;
}

.navigation ul {
    list-style: none;
    padding: 5px;
    display: inline;
}

.navigation li {
    padding: 5px 0;
    color: brown;
}

.navigation a {
    text-decoration: none;
}


.about-content {
    text-align: left;
    max-width: 800px;
    margin-bottom: 40px;
}

.about-content p, ul {
    line-height: 18pt;
    font-size: 14pt;
    margin-top: 20px;
}

.about-content li {
    margin-top: 15px;
    font-size: 14pt;
}

.about-content div {
    padding: 20px 1em;
    padding-left: 0;
    text-align: left;
    justify-content: left;
    margin-right: 0;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {



}

@media screen and (max-width: 575px) {
    .navigation {
        visibility: hidden;
    }

    .about-content {
        min-width: 95%;
    }
}