<div class="content">
    <div class="about-content">
        <section class="about-content" id="what">
            <h2><a>What is the Recipe Generator?</a></h2>
            <div>
                
                Lorem ipsum dolor sit amet, ei labitur epicurei lucilius cum. Vix porro essent in, ius ex iusto fuisset euripidis. Eos quot movet ei, te quem tractatos iracundia mea. Dolore facilisis vis ad, vim molestie invenire inciderint ea. Novum efficiendi theophrastus mel in, vis eu latine dolores explicari, an vitae perpetua eos.

                Posse primis aliquando mei te, tamquam persecuti interpretaris est et, dolor dictas recusabo eam ne. Ea eam errem nostro aperiri, eos vocent vocibus assueverit at. Sed eu minim commune reprehendunt. Diceret accusata pri ex. Ne pro similique definitionem, eam vidit corpora an, duo tale eligendi mnesarchum ne. Mel in viderer cotidieque, no vis alii officiis convenire.

                Mucius facete quodsi per an, omnis vocent reprimique pro ad. Nisl brute at qui. Ne nam decore omnium. Vel doming assentior interesset eu, minim fabulas salutandi nec ex.

                Saperet accusamus vituperatoribus at sea, vis diam simul explicari eu. Has prima detracto ne. Id mel nibh possit. Est alterum utroque percipitur cu, eu postea platonem pro. Pri ad quot essent prodesset, pri porro adipisci repudiare ad. Probatus nominati disputationi ea est. Mel prompta alienum at, has et sint putant delicata, magna laudem ex pri.

                Ius ad esse appetere mediocritatem, stet augue putent pri ex, ut oratio essent vis. Brute impetus rationibus ne per. Ei sint aliquam rationibus eum. Insolens disputando no eum. Congue concludaturque et per, saepe mediocrem ut sea.

                Lorem ipsum dolor sit amet, ei labitur epicurei lucilius cum. Vix porro essent in, ius ex iusto fuisset euripidis. Eos quot movet ei, te quem tractatos iracundia mea. Dolore facilisis vis ad, vim molestie invenire inciderint ea. Novum efficiendi theophrastus mel in, vis eu latine dolores explicari, an vitae perpetua eos.

                Posse primis aliquando mei te, tamquam persecuti interpretaris est et, dolor dictas recusabo eam ne. Ea eam errem nostro aperiri, eos vocent vocibus assueverit at. Sed eu minim commune reprehendunt. Diceret accusata pri ex. Ne pro similique definitionem, eam vidit corpora an, duo tale eligendi mnesarchum ne. Mel in viderer cotidieque, no vis alii officiis convenire.

                Mucius facete quodsi per an, omnis vocent reprimique pro ad. Nisl brute at qui. Ne nam decore omnium. Vel doming assentior interesset eu, minim fabulas salutandi nec ex.

                Saperet accusamus vituperatoribus at sea, vis diam simul explicari eu. Has prima detracto ne. Id mel nibh possit. Est alterum utroque percipitur cu, eu postea platonem pro. Pri ad quot essent prodesset, pri porro adipisci repudiare ad. Probatus nominati disputationi ea est. Mel prompta alienum at, has et sint putant delicata, magna laudem ex pri.

                Ius ad esse appetere mediocritatem, stet augue putent pri ex, ut oratio essent vis. Brute impetus rationibus ne per. Ei sint aliquam rationibus eum. Insolens disputando no eum. Congue concludaturque et per, saepe mediocrem ut sea.
            </div>
        </section>
        <section class="about-content" id="how">
            <h2><a>How it Works</a></h2>
            <div>
                Lorem ipsum dolor sit amet, ei labitur epicurei lucilius cum. Vix porro essent in, ius ex iusto fuisset euripidis. Eos quot movet ei, te quem tractatos iracundia mea. Dolore facilisis vis ad, vim molestie invenire inciderint ea. Novum efficiendi theophrastus mel in, vis eu latine dolores explicari, an vitae perpetua eos.

                Posse primis aliquando mei te, tamquam persecuti interpretaris est et, dolor dictas recusabo eam ne. Ea eam errem nostro aperiri, eos vocent vocibus assueverit at. Sed eu minim commune reprehendunt. Diceret accusata pri ex. Ne pro similique definitionem, eam vidit corpora an, duo tale eligendi mnesarchum ne. Mel in viderer cotidieque, no vis alii officiis convenire.

                Mucius facete quodsi per an, omnis vocent reprimique pro ad. Nisl brute at qui. Ne nam decore omnium. Vel doming assentior interesset eu, minim fabulas salutandi nec ex.

                Saperet accusamus vituperatoribus at sea, vis diam simul explicari eu. Has prima detracto ne. Id mel nibh possit. Est alterum utroque percipitur cu, eu postea platonem pro. Pri ad quot essent prodesset, pri porro adipisci repudiare ad. Probatus nominati disputationi ea est. Mel prompta alienum at, has et sint putant delicata, magna laudem ex pri.

                Ius ad esse appetere mediocritatem, stet augue putent pri ex, ut oratio essent vis. Brute impetus rationibus ne per. Ei sint aliquam rationibus eum. Insolens disputando no eum. Congue concludaturque et per, saepe mediocrem ut sea.
            </div>
        </section>
        
        <section class="about-content" id="tech">
            <h2><a>Technology Used</a></h2>
            <div>
                Lorem ipsum dolor sit amet, ei labitur epicurei lucilius cum. Vix porro essent in, ius ex iusto fuisset euripidis. Eos quot movet ei, te quem tractatos iracundia mea. Dolore facilisis vis ad, vim molestie invenire inciderint ea. Novum efficiendi theophrastus mel in, vis eu latine dolores explicari, an vitae perpetua eos.

                Posse primis aliquando mei te, tamquam persecuti interpretaris est et, dolor dictas recusabo eam ne. Ea eam errem nostro aperiri, eos vocent vocibus assueverit at. Sed eu minim commune reprehendunt. Diceret accusata pri ex. Ne pro similique definitionem, eam vidit corpora an, duo tale eligendi mnesarchum ne. Mel in viderer cotidieque, no vis alii officiis convenire.

                Mucius facete quodsi per an, omnis vocent reprimique pro ad. Nisl brute at qui. Ne nam decore omnium. Vel doming assentior interesset eu, minim fabulas salutandi nec ex.

                Saperet accusamus vituperatoribus at sea, vis diam simul explicari eu. Has prima detracto ne. Id mel nibh possit. Est alterum utroque percipitur cu, eu postea platonem pro. Pri ad quot essent prodesset, pri porro adipisci repudiare ad. Probatus nominati disputationi ea est. Mel prompta alienum at, has et sint putant delicata, magna laudem ex pri.

                Ius ad esse appetere mediocritatem, stet augue putent pri ex, ut oratio essent vis. Brute impetus rationibus ne per. Ei sint aliquam rationibus eum. Insolens disputando no eum. Congue concludaturque et per, saepe mediocrem ut sea.
            </div>
        </section>
    </div>

    <div class="navigation">
        <ul>
            <li><a href="#what" routerLink="/about" fragment="what">What is the Recipe Generator?</a></li>
            <li><a href="#how" routerLink="/about" fragment="how">How it Works</a></li>
            <li><a href="#tech" routerLink="/about" fragment="tech">Technology Used</a></li>
        </ul>
    </div>
    
        
</div>