@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway&display=swap');

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.header {
    width:  100%;
    /* max-height: 10%; */
    /* min-height: 10%; */
    display: block;
    overflow: hidden;
    /* background-color: #125699; */
    position: fixed;
    top: 0;
    /* position: absolute; */
    z-index: 2;
}

.app-content {
    width:  100%;
    /* max-height: 90%; */
    /* min-height: 90%; */
    display: block;
    overflow: hidden;
    /* position: absolute; */
    /* top: 12%; */
    margin: 0 auto;
    padding-top: 94px;
}

.spacer {
    flex: 1;
}

img.logo {
    margin-left: 1.5em;
    width: 90px;
    height: 90px;
}

.toolbar {
    height: 12%;
    /* margin: -8px; */
    display: flex;
    align-items: center;
    background-color: #18191a;
    color: white;
    font-weight: 600;

    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed';
}

.toolbar span {
    padding: 0.5em;
    font-size: 2em;
}

nav {
    padding: 0;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
}

.title p {
    padding: 0;
    text-align: left;
    overflow: hidden;
    margin-right: 10px;
}

.title div {
    display: flex;
    flex-direction: row;
}

.title ul {
    list-style: none;
    display: flex;
    /* padding: 0.5em; */
    margin-bottom: 0;
    margin-top: 0;
    justify-content: left;
    padding: 0;
}

.title li {
    /* padding: 0 0.5em; */
    margin-right: 0.5em;
}

.navbar {
    z-index: 3;
    padding: 0;
    margin: auto 10px;
    display: inline;
    justify-content: center;
    margin: 0;
}

.navbar ul {
    display: inline;
    list-style: none;
    /* padding: 1em; */
}

.navbar li {
    font-family: 'Open Sans Condensed';
    font-size: 14pt;
    display: inline;
    padding: 0 0.1em;
}

.navbar a {
    color: white;
    padding: 0.5em;
    /* margin: 0 6px; */
}

.navbar a:hover {
    color: #57bea5;
}

.navbar button a:hover {
    color: #122928;
}

.navbar a.download-button:hover {
    color: #e7f3f0;
}

.navbar button.download-button {
    border: none;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 5px 25px;
    margin-right: 15px;
    font-size: 1em;
    font-family: 'Open Sans Condensed';
    background-color: #57bea5;
}

.hamburger-menu {
    /* visibility: hidden; */
    display: none;
    padding: 10px;
}

.hamburger-menu-links {
    color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #57bea5;
    padding: 0;
}

.hamburger-menu-links ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px;
    margin-bottom: 0px;
}

.hamburger-menu-links li {
    padding: 2.5px 0;
    border: white;
    border-bottom: white solid 0.1px;
}

.hamburger-menu-links a {
    font-family: 'Open Sans Condensed';
    font-size: 13pt;
    color: white;
    display: inline;
    
}

a,
a:visited,
a:hover {
    color: #18191a;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

.terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
}

.terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
}

.terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

.github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
}

.github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }

    img.logo {
        max-width: 80px;
        max-height: 80px;
        padding: 0;
        margin: 0;
    }

    .title {
        margin-left: 5px;
        text-align: left;
    }

    .title h1 {
        font-size: 18pt;
        margin: 0;
    }

    .title p {
        font-size: 10pt;
        margin-right: 5px;
    }

    .hamburger-menu {
        display: inline;
        max-width: 60px;
        padding: 0;
    }

    .hamburger-menu button {
        padding: 0px;
    }

    .hamburger-menu img {
        max-width: 50px;
        padding: 0;
        padding-right: 5px;
    }

    .navbar {
        display: none;
    }

    
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }

    .app-content {
        padding-top: 64px;

    }

    img.logo {
        /* max-width: 55px;
        max-height: 55px; */
        display: none;
    }

    .hamburger-menu img {
        max-width: 40px;
    }

    .title {
        padding: 10px;
    }

    .title h1 {
        font-size: 16pt;
        
    }

    .title p {
        font-size: 8pt;
        margin-right: 5px;
    }
}