<div class="app-container">
  <div class="header">
    <div class="toolbar" role="banner">
      <a href="#" routerLink="/"><img class="logo" src="./assets/TerraPizzaLogoSmall.png" alt="Terra Pizza Logo"></a>
      <div class="title">
        <div>
          <p>Ryerson University</p>
          <p>Department of Computer Science</p>
        </div>
        <h1>{{ title }}</h1>
      </div>
      
      <div class="spacer"></div>
      <div class="hamburger-menu">
        <button (click)="toggleMenuDisplay()"><img src="./assets/nav_icon.png" alt=""></button>
      </div>
      
      <nav class="navbar">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/gallery">Gallery</a></li>
          <li><button class="download-button"><a href="./assets/TerraPizzaGame.zip">Download</a></button></li>
        </ul> 
      </nav>
    </div> 
    <div class="hamburger-menu-links" *ngIf="displayMenuLinks">
      <ul>
        <li><a (click)="toggleMenuDisplay()" href="#" routerLink="/">Home</a></li>
        <li><a (click)="toggleMenuDisplay()" href="#" routerLink="/gallery">Gallery</a></li>
        <li><a (click)="toggleMenuDisplay()" href="./assets/TerraPizzaGame.zip">Download</a></li>
      </ul>
    </div> 
    
  </div>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <footer>

  </footer>
</div>


