<div class="app-content" role="main">
  
    <div class="preview-container">
        <div >
            <div class="project-preview" >
                <img class="preview-image" src="./assets/preview-img1.png" alt="" (mouseover)="displayPlayButton=true" (mouseout)="displayPlayButton=false">
                <button class="preview-button" (click)="toggleVideoDisplay()">
                    <img src="./assets/play-button.png" alt="" >
                </button>
            </div>
            
            
        </div>
        
        <div class="description">
            <h3>Created by Duha Hassan</h3>
            <p>
                This project is an experiment of natural interaction techniques in virtual reality, taking form in a cooking game. In this game, you've been hired as a pizza cook at Terra Pizza, a pizza place on an alien planet. Aliens love their "Earth pizza", and you're the person for the job!
            </p>
            <p>
                The game, Terra Pizza requires the player to put together a set of pizza orders, by assembling different ingredients and delivering them to a desired state. It is meant to provide varying forms of natural human interaction in VR, by allowing the player to interact with their virtual environment in the same way they would interact with a real-world environment. This is done through facilitating object manipulation in a direct fashion, as well as using an intermediate tool.
            </p>
        </div>

        <div class="image-previews">
            <img src="./assets/screenshots/screenshot9.png" alt="Game Preview Image 1">
            <img src="./assets/preview-img3.png" alt="Game Preview Image 2">
            <img src="./assets/preview-img4.png" alt="Game Preview Image 3">
            <img src="./assets/preview-img5.png" alt="Game Preview Image 4">
        </div>

    </div>
    <div class="preview-video" *ngIf="displayVideo">
        <div>
            <iframe src="https://www.youtube.com/embed/cKMDkt60iko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <button><img src="./assets/exit_icon.png" alt="Exit Button" (click)="toggleVideoDisplay()"></button>
        </div>
        
    </div>
  
</div>
